include mixin
doctype html
head
    // Required meta tags
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css' integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm' crossorigin='anonymous')
    link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' integrity='sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU' crossorigin='anonymous')
    link(href='stylesheets/style.css' rel='stylesheet')


.container
    +menu
    .card(style='width: 50%; margin: 5px 25%; border-radius: 5px' )
        center
            img.card-img-top(src=user.photo alt='' style=' max-height: 300px;')
        .card-body
            h3.card-text= user.firstName
            //p(style='color: gray') Интересуюсь классической живописью и скульптурой, но с удовольствием обсужу и современное искусство
            p
                b= 'Возраст: ' + user.age
            p
                b='Напитки: '+ user.alcohol
            p
                b= 'Интересы: '+ user.interests
            a(href='/user')
                span.glyphicon.glyphicon-pencil.btn-lg
                |  Редактировать
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js' integrity='sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js' integrity='sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q' crossorigin='anonymous')
script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js' integrity='sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl' crossorigin='anonymous')
